<header>
  <ng-container *ngIf="!user">
    <button mat-icon-button title="Войти" (click)="showLoginDialog()">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button title="Регистрация" (click)="showRegisterDialog()">
      <mat-icon>person_add</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="user">
    <span>{{user.email}}</span>
    <button mat-icon-button (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>
</header>
<router-outlet></router-outlet>
